:root {
	--bleu-clair: #DEEBFF;
	--bleu-fonce: #0065FC;
	--gris-clair: #F2F2F2;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-family: Raleway, sans-serif;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 30px;
}

.header--logo {
	width: 120px;
}

/* nav du header */
.header--nav {
	width: 350px;
	display: flex;
}

.header--nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	list-style: none;
}



.header--nav a {
	text-decoration: none;
	color: black;
	padding: 37px;
}

.header--nav a:hover {
	color: var(--bleu-fonce);
	border-top: solid 4px var(--bleu-fonce);
}

/* main */

.menu {
	margin: 50px 30px;
}


.menu .menu--section1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	font-size: 16px;
}

/* formulaire */
.menu--section1 .menu--search {
	display: flex;
}

.menu--section1 .menu--marker {
	width: 20px;
	border: solid transparent 2px;
	border-bottom-left-radius: 20%;
	border-top-left-radius: 20%;
	padding: 15px 20px 15px 20px;
	background-color: var(--gris-clair);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu--section1 .menu--input {
	outline: none;
	border: none;
	border-top: solid 1px var(--gris-clair);
	border-bottom: solid 1px var(--gris-clair);
	padding: 0 0 0 10px;
	font-weight: 700;
	width: 220px;
}

.menu--icon--search {
	display: none;
}

.menu--section1 .menu--btn {
	color: white;
	background-color: var(--bleu-fonce);
	padding: 10px 20px 10px 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 650;
	border: none;
	cursor: pointer;
}

.menu--section1 .menu--filtre {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.menu--filtre > p {
	font-weight: 600;
	margin-right: 20px;
}

.menu--filtre--categorie {
	display: flex;
	align-items: center;
}

.menu--deux-filtres{
	display: flex;
	align-items: center;
}


.menu--filtre--categorie i {
	border: solid 1px var(--bleu-clair);
	border-radius: 50%;
	color: var(--bleu-fonce);
	background-color: var(--bleu-clair);
	padding: 17px;
	font-size: 17px;
	z-index: 4;
}

.menu--filtre--categorie p {
	position: relative;
	right: 45px;
	z-index: 3;
	padding: 17px 15px 17px 56px;
	font-weight: 600;
	font-size: 17px;
	border-radius: 25px;
	border: solid 1px var(--bleu-clair);
}

.menu--filtre--categorie p:hover {
	color: var(--bleu-clair);
	background-color: var(--bleu-fonce);
	cursor: pointer;
}

.menu--filtre--radius {
	border-top: solid 1px var(--bleu-clair);
	border-bottom: solid 1px var(--bleu-clair);
	border-right: solid 1px var(--bleu-clair);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu--margin--bottom {
	margin-bottom: 20px;
	;
}

.menu--section1 .menu--information {
	display: flex;
	align-items: center;
}

.menu--information i {
	color: var(--bleu-fonce);
	margin-right: 5px;
	border: solid 1.5px var(--gris-clair);
	padding: 8px;
	border-radius: 50%;
	font-size: 15px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu--information p {
	font-weight: 500;
}

/* section 2 dédié aux hébérgements */
.section--principal {
	display: flex;
	gap: 40px;
}

.section--commune {
	font-size: 16px;
	background-color: var(--gris-clair);
	border-radius: 15px;
}

.location {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
	padding: 0 40px 0 40px;
	min-width: 640px;
}

.location h2 {
	margin-top: 35px;
	margin-left: 15px;
	margin-bottom: 25px;
}

.location--liste {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.location--liste article {
	width: 30%;
	height: auto;
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
}

.location--liste article a {
	text-decoration: none;
	color: black
}

.location--liste article a:hover,
.location--liste article p:hover {
	color: var(--bleu-fonce)
}

.location--titre {
	font-weight: bold;
	font-size: 18px;
}

.location--liste img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.location--liste article img,
.location--liste article .location--titre,
.location--liste article p,
.location--liste article .location--etoile {
	margin-bottom: 9px;
}


.location--etoile {
	display: flex;
}

.location--etoile i {
	font-size: 12px;
}

.location--etoile i:nth-child(1),
.location--etoile i:nth-child(2),
.location--etoile i:nth-child(3) {
	color: var(--bleu-fonce)
}

.location--etoile i:nth-child(4),
.location--etoile i:nth-child(5) {
	color: var(--gris-clair);
}

.toute--etoile i {
	color: var(--bleu-fonce)
}

.quatre--etoile i:not(:last-child) {
	color: var(--bleu-fonce)
}

.location p:last-child {
	margin-left: 15px;
	margin-bottom: 40px;
	font-weight: 600;
	letter-spacing: 1px;
}

/* hébergement populaires */

.location--populaire {
	width: 30%;
	min-width: 360px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.location--titre--logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 25px;
}

.location--titre--logo i {
	font-size: 20px;
}

.location--liste--pop {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location--liste--pop article {
	width: 80%;
	height: 170px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 40px;
	padding: 5px 10px 5px 5px
}

.location--liste--pop article:hover {
	cursor: pointer;
	color: var(--bleu-fonce);
}

.location--image-pop {
	width: 75%;
	height: 100%;

}

.location--image-pop img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	object-fit: cover;

}

.location--description--pop {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	margin-left: 20px;
}

.location--description--pop .location--titre--pop {
	margin-bottom: 10px;
	margin-top: 10px;
}


.location--description--pop .location--etoile {
	position: absolute;
	bottom: 2px;
}

/* activité à marseille */

.activite-marseille {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}

.activite--groupe {
	display: flex;
	flex-direction: row;
	margin-top: 15px;

}

.activite--groupe p {
	padding: 15px 0 15px 15px;
	font-weight: 600;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.activite--ville {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-right: 40px;
}


.activite--ville--deux {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
}

.activite--groupe > div:nth-child(2){
	margin-right: 40px;
}

.activite--ville--deux img {
	height: 215px;
}


.activite-marseille img {
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.image--port,
.image--calanques {
	height: 550px;
}

/* footer */

.footer {
	background-color: var(--gris-clair);
	display: flex;
	justify-content: space-around;
	padding: 60px 20px;
}


.footer div {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.footer h3 {
	margin-bottom: 20px;
}

.footer--nav ul {
	list-style: none;
}

.footer--liste {
	margin-bottom: 9px;
	letter-spacing: 1px;
}

.footer--liste a{
	text-decoration: none;
	color: black
}
.footer--liste a:hover{
	text-decoration: underline;
	color: var(--bleu-fonce)
}

/* responsive design tablette: 992px */

@media all and (max-width: 992px) {
	.section--principal {
		display: flex;
		flex-direction: column-reverse;
		align-items:center;
	}

	/* hébergements à Marseille */
	.location {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: baseline;
		padding: 0 40px 15px 40px;
		margin-top: 30px;
	}

	.location p:last-child {
		margin-top: 20px;
	}

	/* hébergement populaires */

	.location--populaire {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.location--titre--logo {
		justify-content: space-between;
		padding: 0 25px 0 25px;
	}

	.location h2{
		margin-left: 0;
	}

	.location--liste--pop article {
		width: 95%
	}

	/* activités à Marseille*/

	.activite--groupe {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.activite--groupe img {
		height: 300px;
	}

	.activite--ville,
	.activite--ville--deux {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.activite--ville,
	.activite--ville--deux div {
		margin-bottom: 50px;
		margin-right: 0;
	}

	.activite--groupe > div:nth-child(2){
		margin-right: 0;
	}

	div.activite--longchamp {
		margin-bottom: 0;
	}

	.footer {
		padding: 50px 20px;
	}
}

@media all and (max-width: 768px){

	/* responsive design téléphone: 768px */

	/* mise en forme du header */
	.header{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.header--logo {
		width: 130px;
		display: block;
		margin: 30px auto;
	}
	
	/* nav du header */
	.header--nav {
		width: 100%;
	}

	.header--nav li{
		padding: 0 21% 3% 21%;
		border-bottom: transparent 4px solid;
	}

	.header--nav a {
		text-decoration: none;
		color: black;
		padding: 0;
		border: none;
	}

	.header--nav li:hover{
		border-bottom: solid 4px var(--bleu-fonce);
	}
	
	.header--nav a:hover {
		border-top: none;
	}

	/* filtres */
	.menu--section1 .menu--filtre{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px
	}


	/* mise en forme du formulaire */
	 .menu--section1 .menu--btn{
		display: none;
	}
	.menu--icon--search{
		display: inline-block;
		color: white;
		background-color: var(--bleu-fonce);
		padding: 15px 15px 15px 15px;
		border-radius: 15px;
		font-weight: 650;
		border: none;
		cursor: pointer;
		position: relative;
		left: -15px;
		width: 50px;
	}

	.menu{
		margin-left: 0;
		margin-right: 0;
	}

	.menu--section1{
		padding-left: 20px;
		padding-right: 20px;
	}

	.menu--section1 .menu--input{
		width: 300px;
	}


		/* location populaire */
	.location--populaire{
		border-radius: 0;
	}
	.location--liste--pop article{
		/* width: 95%; */
		margin-left: 20px;
		margin-right: 20px;
	}

	/* hébergements */
	.location.section--commune{
		background-color: transparent;
	}

	.location{
		padding: 0 20px 0 20px;
		min-width: 0;
 	}

	.location h2{
		margin-left: 0;
		width: 100%;
	}

	.location--liste{
		flex-direction: column;
		align-items: center;
	}
	.location--liste article{
		width: 100%;
		height: 210px;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	}

	.location--liste article:last-child{
		margin-bottom: 0;
	}

	.location--liste article img{
		height: 110px;
	}

	.location--titre--logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* activités marseille */

	.activite-marseille{
		padding: 0 20px 0 20px;
	}

	.activite--ville, .activite--ville--deux{
		width: 100%;
	}
	.activite--ville{
		height: 200px;
	}
	.activite--ville--deux div{
		height: 200px;
	}

	.activite--groupe > div:nth-child(2){
		margin-right: 0;
	}

	.activite--ville img, .activite--ville--deux img{
		height: 170px;
	}

	/* footer */
	.footer{
		flex-direction: column;
		align-items: flex-start;
	}
	.footer div{
		margin-bottom: 10px;
		justify-content: space-around;
		width: 100%;
	}

	.footer nav a{
		font-size: 14px;
	}
}